@tailwind base;
@tailwind components;
@tailwind utilities;
@import "freakflags";
@import "./animations.css";

@layer utilities {
  .vertical-text {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .bg-dotted {
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(
      45deg,
      #000000 0,
      #000000 1px,
      #ffffff 0,
      #ffffff 50%
    );
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center font-lexend bg-light dark:bg-black uppercase border-black dark:border-light h-[52px] px-5 cursor-pointer active:text-light active:bg-black text-xs md:text-base;
  }
}

html {
  @apply bg-light;
}

h1,
h2,
h3,
h4 {
  @apply font-poppins mb-5 text-2xl;
}

h3 {
  @apply text-lg;
}

p {
  @apply font-poppins font-light;
}

html.dark {
  @apply text-white;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar {
  width: 10px;
  @apply bg-gray-400 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-900;
}

.markdown {
  p {
    @apply mb-5;
  }
  a {
    position: relative;
    &:before {
      content: "";
      @apply absolute bottom-0 w-full h-1/6 bg-black/40 dark:bg-white/50 transition-transform;
    }
    &:hover {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='25' height='30' viewport='0 0 100 100' style='fill:black;font-size:15px;'><text y='50%'>🚀</text></svg>")
          16 0,
        auto; /*!emojicursor.app*/
    }
  }
}

.list {
  @apply pl-4;
}

.list li {
  @apply list-disc mb-1;
}

:root {
  --animate-duration: 300ms;
}

.paragraph {
  p {
    @apply mb-6 last:mb-0;
  }
}

.hover-pulse:hover {
  @apply cursor-none inline-block;
  animation: pulsing 1s infinite;
}

.hover-spin:hover {
  @apply cursor-none inline-block animate-spin;
}

.hover-vibrate:hover {
  @apply cursor-none inline-block;
  animation: vibrating 0.25s infinite;
}

.hover-shake:hover {
  @apply cursor-none inline-block;
  animation: shaking 1s infinite;
}

.hover-wobble:hover {
  @apply cursor-none inline-block;
  animation: wobble 800ms cubic-bezier(0.37, 0, 0.63, 1) 0s infinite;
}

.hover-jello:hover {
  @apply cursor-none inline-block;
  animation: jello 800ms cubic-bezier(0.61, 1, 0.88, 1) 0s infinite;
}
