@tailwind base;
@tailwind components;
@tailwind utilities;
@import "freakflags";

@layer utilities {
  .vertical-text {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center font-lexend bg-light dark:bg-black uppercase border-black dark:border-light h-[52px] px-5 cursor-pointer active:text-light active:bg-black text-xs md:text-base;
  }
}

html {
  @apply bg-light;
}

h1,
h2,
h3,
h4 {
  @apply font-poppins mb-5 text-2xl;
}

p {
  @apply font-poppins font-light;
}

html.dark {
  @apply text-white;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar {
  width: 10px;
  @apply bg-gray-400 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-900;
}

.markdown {
  p {
    @apply mb-5;
  }
  a {
    position: relative;
    &:before {
      content: "";
      @apply absolute bottom-0 w-full h-1/6 bg-black opacity-40 transition-transform;
    }
    &:hover {
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='25' height='30' viewport='0 0 100 100' style='fill:black;font-size:15px;'><text y='50%'>🚀</text></svg>")
          16 0,
        auto; /*!emojicursor.app*/
    }
  }
}

:root {
  --animate-duration: 300ms;
}
