@tailwind base;
@tailwind components;
@tailwind utilities;
@import "freakflags";

@layer utilities {
  .vertical-text {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center font-lexend bg-light dark:bg-black uppercase border-black dark:border-light h-[52px] px-5 cursor-pointer active:text-light active:bg-black text-xs md:text-base;
  }
}

html {
  @apply bg-light;
}

h1,
h2,
h3,
h4 {
  @apply font-poppins mb-5 text-2xl;
}

p {
  @apply font-poppins font-light;
}

html.dark {
  @apply text-white;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-700;
}

::-webkit-scrollbar {
  width: 10px;
  @apply bg-gray-400 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-gray-900;
}

.markdown {
  p {
    @apply mb-5;
  }
}

:root {
  --animate-duration: 300ms;
}
